.order {
    text-align:center;
    @include tablet-only {
        padding:$spacing-default;
    }
    @include desktop-only {
        padding:$spacing-default;
    }
}

.label {
    position:relative;
    height:310px;
    overflow:hidden;
    @include tablet-only {
        height:350px;
    }
    @include desktop-only {
        height:500px;
    }
    &__photo {
        width:100%;
        object-fit:cover;
        z-index:-1;
        height:250px;
        @include tablet-only {
            object-position: 50% 70%;
            height:350px;
        }
        @include desktop-only {
            object-position: 50% 70%;
            height:500px;
        }
        &--bigphoto {
            object-position: 50% 65%;
            @include tablet-only {
                object-position: 50% 60%;
                height:350px;
            }
            @include desktop-only {
                object-position: 50% 60%;
                height:500px;
            }
        }
    }
    &__titre {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        @include font-family ('Shrikhand', 1.2rem, $font-weight-regular);
        display:flex;
        align-items:baseline;
        padding:0rem $spacing-default;
        margin-top:1rem;
        border-radius:$border-radius-default $border-radius-default 0 0;
        background-color:$color-bg-lightgrey;
        h1 {
            flex:1;
        }
    }
}

.recipes {
    background-color:$color-bg-lightgrey;
    padding:0 $spacing-default;
    border:1px solid $color-bg-lightgrey; //bug d'affichage
    h2 {
        display:flex;
        flex-direction:column;
        gap: 0.3rem;
        @include font-family ('Roboto', $font-size-default, $font-weight-light);
        text-transform:uppercase;
        &::after {
            content : "";
            width   : 2.5rem;
            border-bottom:3px solid $color-tertiary;
        }
    }
}

.recipes-group {
    list-style-type: none;
    margin:0;
    padding:0;
    @include ul-item;
}

.recipe {
    @include li-item(0, $spacing-default 0, $color-bg-light, $width-li-tablet, $width-li-desktop, 1);
    overflow:hidden;
    position:relative;
    &__padding {
        padding:0.8rem;
    }
    &__truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__title {
        @extend .recipe__padding;
        min-width: 0;
        transition:all ease-out 400ms;
    }
    &__name {
        margin:0;
        padding:0;
        @include font-family ('Roboto', 1.1rem, $font-weight-medium);
        @extend .recipe__truncate;
    }
    &__infos {
        display:flex;
        align-items:center;
        margin:0;
        padding-top: 0.2rem;
    }
    &__description {
        @include font-family ('Roboto', 0.9rem, $font-weight-light);
        @extend .recipe__truncate;
        flex:1;
    }
    &__price {
        @include font-family ('Roboto', 0.9rem, $font-weight-medium);
        padding-left:0.5rem;
    }
    &__selected {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        background-color:$color-tertiary;
        @include flex-full-center;
        padding:1.2rem;
        align-self:stretch;
        transform:translateX(100%);
        transition:all ease-out 400ms;
        svg {
            width:20px;
            height:20px;
            fill:$color-bg-light;
            transform:rotate(0deg);
        }
    }
    @for $i from 1 through 10 {
        &--item#{$i} {
            animation: fadein 0.5s ease-out both;
            animation-delay: calc(0.2s * ($i - 1));
        }
    }
    &:hover {
        .recipe__title {
            padding-right:4.5rem;
        }
        .recipe__selected {
            transform:translateX(0);
            svg {
                transition:all ease-out 400ms;
                transform:rotate(360deg);
            }
        }
    }
}
