footer {
    background-color:$color-bg-darkgrey;
    color:$color-txt-light;
    padding:1.5rem;
    .footer-links {
        display:flex;
        flex-direction:column;
        @include tablet-only {
            @include footer-flex;
        }
        @include desktop-only {
            @include footer-flex;
        }
    }

    h4 {
        margin:0;
        padding-bottom:$spacing-default;
        @include font-family ('Shrikhand', 1.2rem, $font-weight-light);
        @include desktop-only {
            @include font-family ('Shrikhand', 1.5rem, $font-weight-regular);
        }    
    }
    a {
        padding:0.2rem 0rem;
        text-decoration:none;
        color:$color-txt-light;
        @include font-family ('Roboto', 0.9rem, $font-weight-regular);
        .footer__icon {
            fill:$color-bg-light;
            width:14px;
            height:14px;
            object-fit:contain;
            padding-right:0.5rem;
        }
        &:hover {
            text-decoration:underline;
        }
        @include tablet-only {
            width:23%;
        }
        @include desktop-only {
            @include font-family ('Roboto', $font-size-default, $font-weight-regular);
            width:23%;
        }    
    }
}