footer {
    background-color:$color-bg-darkgrey;
    color:$color-txt-light;
    display:flex;
    flex-direction:column;
    padding:$spacing-default;
    h4 {
        margin:0;
        padding-bottom:$spacing-default;
        @include font-family ('Shrikhand', $font-size-default, $font-weight-regular);
    }
    a {
        padding:0.2rem 0rem;
        text-decoration:none;
        color:$color-txt-light;
        @include font-family ('Roboto', 0.9rem, $font-weight-regular);
        .footer__icon {
            fill:$color-bg-light;
            width:14px;
            height:14px;
            object-fit:contain;
            padding-right:0.5rem;
        }
        &:hover {
            text-decoration:underline;
        }
    }
}