.btn {
    @include font-family ('Roboto', 1rem, $font-weight-medium);
    border-radius: $border-radius-default;
    border:0px;
    background: $gradient-default;
    position: relative;
    color:$color-txt-light;
    padding:$spacing-default 2rem;
    margin:1.5rem 0rem;
    opacity:1;
    transition: all $transition-duree;
    @include box-shadow(0.1);
    &--large {
        padding:$spacing-default 3rem;
    }
    &:hover {
        opacity:0.85;
        @include box-shadow(0.4);
    }
}