$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-light: #FFFFFF;
$color-txt-light: #FFFFFF;
$font-titre: 'Shrikhand', cursive;
$font-texte: 'Roboto', sans-serif;
$colors-loading: $color-primary, mix($color-primary, $color-secondary, 50%), $color-secondary;
$btn-gradient: linear-gradient(top, $color-primary, $color-secondary);
$border-rad: 2rem;