@mixin section-background-color($color, $padding) {
    background-color:$color;
    padding:$padding;
}
@mixin font-family ($font, $size, $weight:$font-weight-regular, $align:left) {
    font-family:$font;
    font-size:$size;
    @if($align != left) {
        text-align:$align;
    }
    @if($weight != $font-weight-regular) {
        font-weight:$weight;
    }
}
@mixin box-shadow($alpha) {
    box-shadow: rgba(0, 0, 0, $alpha) 0px 4px 8px;
}