.btn {
    border-radius: $border-rad;
    border:0px;
    background: linear-gradient(to top, $color-primary, $color-secondary);
    position: relative;
    z-index: 1;
    color:$color-txt-light;
    padding:1rem 2rem;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: linear-gradient(to top, lighten($color-primary, 10), lighten($color-secondary, 10));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}